.filters {
  display: flex;
  justify-content: space-between;
  padding: 25px 200px;
  border-bottom: 2px solid #aaa;
  margin-top: 25px;
  margin-bottom: 50px;
  text-align: center;
}

.filters-placeholder-categories {
  display: flex;
  justify-content: space-between;
  padding: 25px 200px;
  border-bottom: 2px solid #aaa;
  margin-top: 25px;
  margin-bottom: 50px;
}

.filters-placeholder-cards {
  display: flex;
  justify-content: space-between;

}

a.button {
  font-size: 15px;
  padding: 15px 25px;
  background-color: #5cadd2;
  color: #fff;
  border: 0;
  box-shadow: none;
  border-radius: 5px;
  cursor: pointer;
}

a.button:hover {
  color: #1c6d92;
}

a.button:disabled {
  background-color: #777;
}
