<main role="main">
  <div class="container">
    <app-breadcrumb
      class="my-3 ms-3"
      [breadcrumb]="[
        { label: 'Home', link: '/home' },
        { label: 'Catalog', link: '' }
      ]"
    ></app-breadcrumb>

    <div class="filters">
        <a *ngFor="let filter of filters" class="button" tabindex="0" [routerLink]="['/catalog/', filter]">{{ filter }}</a>
    </div>

    <div class="row gy-4">
      <div *ngFor="let product of getProducts()" class="col-md-4">
        <!-- <app-product-summary [product]="product" (detailButtonPressed)="viewDetails($event)"></app-product-summary> -->
        <app-product-summary-card [product]="product" (detailButtonPressed)="viewDetails($event)"></app-product-summary-card>
      </div>
    </div>
  </div>
</main>
