<main role="main">
  <div class="container">
    <app-breadcrumb
      class="my-3 ms-3"
      [breadcrumb]="[
        { label: 'Home', link: '/home' },
        { label: 'Catalog', link: '' }
      ]"
    ></app-breadcrumb>

    <div class="filters">
      <div class="filterButton" *ngFor="let filter of filters">
        <a class="button" tabindex="0" (click)="currentFilter = filter" (keydown)="currentFilter = filter">{{ filter }}</a>
      </div>
    </div>

    <div class="row">
      <div *ngFor="let product of getProducts()" class="col-md-4">
        <app-product-summary [product]="product" (detailButtonPressed)="viewDetails($event)"></app-product-summary>
      </div>
    </div>
  </div>
</main>
