<div class="container">
  <!-- <nav class="my-3 ms-3" style="--bs-breadcrumb-divider: '>'">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Order placed</li>
    </ol>
  </nav> -->

  <app-breadcrumb
    class="my-3 ms-3"
    [breadcrumb]="[
      { label: 'Home', link: '/home' },
      { label: 'Confirmation', link: '' }
    ]"
  ></app-breadcrumb>

  <div class="row gx-5">
    <div class="col-md-8">
      <h2>
        We are sending your order.
        <span class="text-muted">It's in the transporter.</span>
      </h2>
      <p class="lead">
        We cannot track orders due to Heisenberg Uncertainty and all. But believe us, it's coming. Feel free to order more. One can never
        have too many computers.
      </p>
    </div>
    <div class="col-md-4">
      <img src="images/packageorder.jpg" class="img-fluid" alt="Responsive image" />
    </div>
  </div>
</div>
