<div class="container">
  <app-breadcrumb
    class="my-3 ms-3"
    [breadcrumb]="[
      { label: 'Home', link: '/home' },
      { label: 'Cart', link: '' }
    ]"
  ></app-breadcrumb>

  <h1 class="header mt-5">Your Cart</h1>

  <div class="empty-cart" *ngIf="cartItems.length === 0">You have no items in your cart</div>
  <div class="container" *ngIf="cartItems.length > 0">
    <ul class="cart">
      <li class="cart-item" *ngFor="let product of cartItems">
        <app-cart-detail [product]="product" (buttonPressed)="removeFromCart($event)"></app-cart-detail>
      </li>
    </ul>
    <div class="total">Total: Wu{{ cartTotal | currency }}</div>
    <button class="btn btn-success order-btn" routerLink="/order">Order</button>
  </div>
</div>
